{
  "profiles": {
    "SosuBot": {
      "commandName": "Project",
      "environmentVariables": {
        "OpenAIToken": "<Your_OpenAIToken_here>"
      }
    },
    "Container (Dockerfile)": {
      "commandName": "Docker"
    }
  }
}
